/* Hero section */
.hero {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("2.jpg") center/cover no-repeat;
  height: 100vh;
}

/* Sección de valores */
#valores .card {
  border: none;
  transition: transform 0.3s ease-in-out;
}

#valores .card:hover {
  transform: translateY(-10px);
}

